/* App.css */
.Main {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffff;
  }
  
  .app-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form label {
    margin-bottom: 8px;
  }
  .form select{
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  .form input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .toggle-form {
    color: #007bff;
    cursor: pointer;
    margin-top: 12px;
  }
  
  .checkbox.style-g {
    display: inline-block;
    position: relative;
    padding-right: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox.style-g input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox.style-g input:checked ~ .checkbox__checkmark {
    background-color: #fff;
  }
  .checkbox.style-g input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
    left: 8px;
  }
  .checkbox.style-g input:checked ~ .checkbox__body {
    font-weight: bold;
  }
  .checkbox.style-g:hover input ~ .checkbox__checkmark {
    background-color: #eee;
  }
  .checkbox.style-g:hover input:checked ~ .checkbox__checkmark {
    background-color: #eee;
  }
  .checkbox.style-g .checkbox__checkmark {
    position: absolute;
    top: 1px;
    right: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 4px;
  }
  .checkbox.style-g .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: -20px;
    top: -8px;
    width: 15px;
    height: 25px;
    border: solid #f7cb15;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease, left 0.25s ease;
  }
  .checkbox.style-g .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
    transition: font-weight 0.25s ease;
  }